	@roboto: 'Roboto', sans-serif;
	@icon-base: flaticon;
	@agora: agorasansproregular-webfont;
	@agora-black: agorasansproblack-webfont;
	@dinpro: dinpro;
	
	.include-custom-font(@family: @icon-base, @weight: normal, @style: normal){
		@font-face{			
			font-family: "@{family}";			
			src:url('../fonts/@{family}.eot');
			src:url('../fonts/@{family}.eot?#iefix') format('embedded-opentype'),
				url('../fonts/@{family}.woff') format('woff'),
				url('../fonts/@{family}.ttf') format('truetype'),
				url('../fonts/@{family}.svg#icon') format('svg');
			font-weight: @weight;
			font-style: @style;		
		}
	}
	.include-custom-font(@family: @icon-base, @weight: normal, @style: normal);
	.include-custom-font(@family: @agora, @weight: normal, @style: normal);
	.include-custom-font(@family: @agora-black, @weight: normal, @style: normal);
	.include-custom-font(@family: @dinpro, @weight: normal, @style: normal);
	.mixin-headings(
		@font-family: @roboto, 
		@font-size: 20px, 
		@line-height: 26px, 
		@color: @black)
	{
		font-family: @font-family;
		font-size: @font-size;
		line-height: @line-height;
		color: @color;
	} 
	

	@icon-antenna: 		"\e000";
	@icon-right: 		"\e001";
	@icon-left: 		"\e002";
	@icon-battery: 		"\e003";
	@icon-bears: 		"\e004";
	@icon-bodyparts: 	"\e005";
	@icon-business: 	"\e006";
	@icon-businessman1: "\e007";
	@icon-businessman: 	"\e008";
	@icon-caduceus: 	"\e009";
	@icon-call: 		"\e00a";
	@icon-cameras: 		"\e00b";
	@icon-car: 			"\e00c";
	@icon-pcscreen: 	"\e00d";
	@icon-conference: 	"\e00e";
	@icon-education: 	"\e00f";
	@icon-electric: 	"\e010";
	@icon-ellipsis: 	"\e011";
	@icon-envelope: 	"\e012";
	@icon-envelopes: 	"\e013";
	@icon-fb-r: 		"\e014";
	@icon-fb: 			"\e015";
	@icon-food: 		"\e016";
	@icon-fork: 		"\e017";
	@icon-gear: 		"\e018";
	@icon-grandmother: 	"\e019";
	@icon-team: 		"\e01a";
	@icon-gymnast: 		"\e01b";
	@icon-hand: 		"\e01c";
	@icon-hierarchical: "\e01d";
	@icon-horizontal: 	"\e01e";
	@icon-inspiration: 	"\e01f";
	@icon-instag-r: 	"\e020";
	@icon-iphone: 		"\e021";
	@icon-linkedin: 	"\e022";
	@icon-gplus: 		"\e023";
	@icon-tw-r: 		"\e024";
	@icon-skype: 		"\e025";
	@icon-loving: 		"\e026";
	@icon-map: 			"\e027";
	@icon-men: 			"\e028";
	@icon-metal: 		"\e029";
	@icon-moon: 		"\e02a"; 
	@icon-move: 		"\e02b"; 
	@icon-one: 			"\e02c"; 
	@icon-package: 		"\e02d"; 
	@icon-paint: 		"\e02e"; 
	@icon-phone-r: 		"\e02f"; 
	@icon-phonereceiver:"\e030"; 
	@icon-instag: 		"\e031";
	@icon-playbutton: 	"\e032"; 
	@icon-power: 		"\e033"; 
	@icon-pur: 			"\e034"; 
	@icon-ruble: 		"\e035"; 
	@icon-savings: 		"\e036"; 
	@icon-cal: 		 	"\e037";
	@icon-search: 		"\e038";
	@icon-shine: 		"\e039";
	@icon-shop: 		"\e03a";
	@icon-shopping: 	"\e03b";
	@icon-signal: 		"\e03c";
	@icon-instag1: 		"\e03d";
	@icon-stars: 		"\e03e";
	@icon-suitcase: 	"\e03f";
	@icon-switch: 		"\e040";
	@icon-telephone: 	"\e041";
	@icon-three: 		"\e042";
	@icon-time: 		"\e043";
	@icon-tool: 		"\e044";
	@icon-transport: 	"\e045";
	@icon-tw: 			"\e046";
	@icon-two: 			"\e047";
	@icon-vehicle: 		"\e048";
	@icon-walk: 		"\e049";
	@icon-weights: 		"\e04a";
	@icon-wheels: 		"\e04b";
	@icon-wifi: 		"\e04c";
	@icon-wireless: 	"\e04d"; 
	@icon-world: 		"\e04e"; 
	@icon-wrench: 		"\e04f"; 
	@icon-yb: 			"\e050"; 