	@roboto: 'Roboto', sans-serif;
	@icon-base: flaticon;
	@agora: agorasansproregular-webfont;
	@agora-black: agorasansproblack-webfont;
	.include-custom-font(@family: @icon-base, @weight: normal, @style: normal){
		@font-face{			
			font-family: "@{family}";			
			src:url('/fonts/@{family}.eot');
			src:url('/fonts/@{family}.eot?#iefix') format('embedded-opentype'),
				url('/fonts/@{family}.woff') format('woff'),
				url('/fonts/@{family}.ttf') format('truetype'),
				url('/fonts/@{family}.svg#icon') format('svg');
			font-weight: @weight;
			font-style: @style;		
		}
	}
	.include-custom-font(@family: @icon-base, @weight: normal, @style: normal);
	.include-custom-font(@family: @agora, @weight: normal, @style: normal);
	.include-custom-font(@family: @agora-black, @weight: normal, @style: normal);
	.mixin-headings(
		@font-family: @roboto, 
		@font-size: 20px, 
		@line-height: 26px, 
		@color: @black)
	{
		font-family: @font-family;
		font-size: @font-size;
		line-height: @line-height;
		color: @color;
	} 
	

	@icon-battery: 		"\e002";
	@icon-bears: 		"\e003";
	@icon-bodyparts: 	"\e004";
	@icon-business: 	"\e005";
	@icon-businessman: 	"\e006";
	@icon-call: 		"\e007";
	@icon-cameras: 		"\e008";	
	@icon-pcscreen: 	"\e009";	
	@icon-education: 	"\e00a";
	@icon-electric: 	"\e00b";
	@icon-envelope: 	"\e00c";
	@icon-envelopes: 	"\e00d";
	@icon-fb-r: 		"\e00e";
	@icon-fb: 			"\e00f";
	@icon-food: 		"\e010";
	@icon-fork: 		"\e011";
	@icon-grandmother: 	"\e012";
	@icon-team: 		"\e013";
	@icon-gymnast: 		"\e014";
	@icon-hierarchical: "\e015";
	@icon-inspiration: 	"\e016";
	@icon-instag-r: 	"\e017";
	@icon-iphone: 		"\e018";
	@icon-linkedin: 	"\e019";
	@icon-gplus: 		"\e01a";
	@icon-tw-r: 		"\e01b";
	@icon-skype: 		"\e01c";
	@icon-loving: 		"\e01d";
	@icon-map: 			"\e01e";
	@icon-moon: 		"\e01f"; 
	@icon-move: 		"\e020"; 
	@icon-paint: 		"\e021"; 
	@icon-phone-r: 		"\e022"; 
	@icon-instag: 		"\e023";
	@icon-playbutton: 	"\e024"; 
	@icon-power: 		"\e025"; 
	@icon-pur: 			"\e026"; 
	@icon-ruble: 		"\e027"; 
	@icon-savings: 		"\e028"; 
	@icon-cal: 		 	"\e029";
	@icon-search: 		"\e02a";
	@icon-shine: 		"\e02b";
	@icon-shopping: 	"\e02c";
	@icon-instag1: 		"\e02d";
	@icon-stars: 		"\e02e";
	@icon-telephone: 	"\e02f";
	@icon-tool: 		"\e030";
	@icon-transport: 	"\e031";
	@icon-tw: 			"\e032";
	@icon-two: 			"\e033";
	@icon-wireless: 	"\e034"; 
	@icon-world: 		"\e035"; 
	@icon-wrench: 		"\e036"; 
	@icon-yb: 			"\e037"; 